@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination__link {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.pagination__link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination__link--active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  cursor: default;
}

.pagination__link--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.page-item .page-link {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.page-item .page-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-item .page-link--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.page-item.page-break .page-link {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  text-align: center;
  cursor: default;
  border: none;
  background-color: transparent;
  color: #333;
}

/* Active Page */
.pagination .active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  cursor: default;
}
